body {
  margin: 20px;
  background-color: #ADC4CE;
}

#qrious {
  padding-bottom: 20px;
}
legend{
    display: block;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
}
.form-control {
    background-color: lightgray;
    color: black;
    /* Add any other styles you want */
}
